{% extends "base.html" %}

{% block maincontent %}
<h1>Latest News and Newsletter signup page</h1>
    <p>
    You can sign up for our newsletter here.
    </p>

    <!-- add the form for signup here -->
    <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=50) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
